html,
body {

    background-color: #000000;
    margin: 0px;
    padding: 0px;

    height: 100%;

    /* overflow: hidden; */

}

.card {
    width: 5px;
    height: 5px;
    background-color: aquamarine;
    position: absolute;
    
}