html,
body {

    background-color: #000000;
    margin: 0px;
    padding: 0px;

    height: 100%;

    /* overflow: hidden; */

}

.start-button{
    background-color: #00FF00;
    width: 100px;
    height: 100px;
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 50%;
    margin-left: -160px;
}

.stop-button{
    background-color: #0000FF;
    width: 100px;
    height: 100px;
    position: fixed;
    z-index: 10;
    bottom: 0;
    right: 50%;
    margin-right: -160px;
}